[Unit]
Description=Goss service check

[Service]
#Restart=always
#RestartSec=60s
WorkingDirectory=/etc/goss
Type=oneshot
ExecStart=/usr/local/bin/gosscheck

[Install]
WantedBy=multi-user.target
